# Ignorar archivos y directorios generados
HELP.md
.gradle

# No ignorar el archivo gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar

# No ignorar los directorios build en src/main y src/test
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# No ignorar los archivos de salida (out) en src/main y src/test
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignorar el directorio build completo, pero incluir libs donde se generan los JARs
/build/
!/build/libs/